body {
  margin: 10px;
  padding: 10px;
}

.__phg_container {
}

.clearfix {zoom:1;}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-size: 32px;
  margin-bottom: 22px;
}

#__phg__ h2, #__phg__ h2, #__phg__ h2 {
  font-weight: normal;
  margin: 18px 0 0 0;
  font-size: 12px;
  color: #444;
}

#__phg__ pre, #__phg__ pre, #__phg__ pre {
  margin: 0px;
  padding: 10px;
  background: #ccc;
  font-size: 24px;
}
